/* Navbar general styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo or brand name */
.navbar-logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-right: auto; /* Keeps the logo on the left */
}

/* Navbar list styles */
.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto; /* Center the navbar list */
  justify-content: center; /* Center the items in the navbar */
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-item a:hover {
  background-color: #a7a7a7;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Logout button styles */
.logout-btn {
  background-color: #797979;
  color: white;
  padding: 0.5rem 1rem;
  padding: 10px, 20px;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #bdbdbd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

/* Mobile menu toggle (Hamburger) */
.navbar-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.navbar-toggle.open .navbar-icon {
  background-color: #aaaaaa;
}

.navbar-icon,
.navbar-icon::before,
.navbar-icon::after {
  content: '';
  display: block;
  height: 3px;
  width: 30px;
  background-color: white;
  margin: 6px 0;
  transition: all 0.3s ease;
}

.navbar-toggle.open .navbar-icon {
  transform: rotate(45deg);
}

.navbar-toggle.open .navbar-icon::before {
  transform: rotate(-45deg);
  top: -9px;
}

.navbar-toggle.open .navbar-icon::after {
  opacity: 0;
}

/* Navbar list styles when menu is open (Mobile View) */
.navbar-list.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #cccccc;
  text-align: center;
}

.navbar-list.active .navbar-item {
  margin: 1rem 0;
}

.navbar-profile-picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-user-icon {
  color: #2b87ff;
  cursor: pointer;
}


/* Desktop Styles */
@media (min-width: 768px) {
  .navbar-list {
    display: flex !important;
    justify-content: center;
  }

  .navbar-toggle {
    display: none;
  }
}

/* Add smooth transition for responsiveness */
.navbar-list,
.navbar-list.active {
  transition: all 0.3s ease-in-out;
}
